<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.email_field :email, class: 'form-control validate', id: 'email'%>
      <label for="email" data-error="incorrect format" data-success="">Email</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>