<%= form_for(@goal, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="input-field">
    <%= f.text_area :content, class: 'materialize-text-area'%>
    <label for="goal_content">Enter a goal</label>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <!--
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
  -->
<% end %>

<script type="text/javascript">
  $('#goal_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>