<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="">
    <nav class="cyan lighten-1 z-depth-1">
      <div class="nav-wrapper container">
        <div class="col s12">
          <%= link_to image_tag("flipp-large_white.png", alt: "Floop"), root_path, id: "logo" %>

          <% if logged_in? %>
            <ul class="right">
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <!--
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
    -->
  </div>
</header>